<p id="notice"><%= notice %></p>

<p>
  <strong>Test1:</strong>
  <%= @high_score.test1 %>
</p>

<p>
  <strong>Test2:</strong>
  <%= @high_score.test2 %>
</p>

<%= link_to 'Edit', edit_high_score_path(@high_score) %> |
<%= link_to 'Back', high_scores_path %>
